/*Font Imports*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/*Main CSS*/

/*
#222222
#5e82a4
#1c5d99
#639fab
#bbcde5
#99abc3
*/

body {
  margin: 0;
  padding: 0;
  color: #222222;
  background-color: #bbcde5;

  /*color: #BBCDE5;
  background-color: #222222;*/
  font-family: Roboto;
}

h1 {
  text-align: center;
  font-size: 40px;
}

h2 {
  text-align: center;
  font-size: 30px;
}

p {
  text-align: center;
  font-size: 20px;
}

.zerTotTerug {
  text-align: center;
  font-size: 20px;
  background: none;
  border: 2px solid #5e82a4;
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: #dddddd;
  border-radius: 25px;
  transition: 0.25s;
  text-decoration: none;
}

.zerTotLink{
  text-decoration: underline;
  color: #dddddd;
}

/*Somtoday Login Form style*/

.loginForm {
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #5e82a4;
  text-align: center;
  border-radius: 20px;
}

.loginForm h2 {
  color: #dddddd;
  font-weight: 500;
}

.loginForm input[type="text"],
.loginForm input[type="password"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #bbcde5;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #dddddd;
  border-radius: 25px;
  transition: 0.25s;
  font-size: 16px;
}

.loginForm input[type="text"]:hover,
.loginForm input[type="password"]:hover {
  border-color: #99abc3;
}

.loginForm input[type="text"]:focus,
.loginForm input[type="password"]:focus {
  width: 280px;
  border-color: #99abc3;
}

.loginForm input[type="text"]::placeholder,
.loginForm input[type="password"]::placeholder {
  color: #dddddd;
  opacity: 0.7;
}

.loginForm input[type="submit"] {
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #bbcde5;
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: #dddddd;
  border-radius: 25px;
  transition: 0.25s;
  font-size: 16px;
}

.loginForm input[type="submit"]:hover {
  width: 140px;
  border-color: #99abc3;
}

#selSchool {
  width: 50%;
}

span.select2.select2-container.select2-container--default.select2-container--below {
  width: 50%;
}

span#select2-selSchool-container {
  background-color: none;
  border-radius: 25px;
  border: 2px solid #bbcde5;
  color: #dddddd;
}

span.select2-dropdown.select2-dropdown--below {
  background-color: #5e82a4;
  color: #dddddd;
  border: 2px solid #bbcde5;
  border-radius: 15px;
}

span.select2-selection.select2-selection--single {
  background: none;
  border: none;
}

input.select2-search__field {
  background-color: #5e82a4;
  color: #5e82a4;
  border: 2px solid #bbcde5;
  border-radius: 15px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
  border: 2px solid #bbcde5;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: none;
}

::-webkit-scrollbar-thumb {
  background: #85a1cd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bbcde5;
}

.Button {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #5e82a4;
  padding: 14px 10px;
  width: 100px;
  outline: none;
  color: #222222;
  border-radius: 25px;
  transition: 0.25s;
  font-size: 16px;
  position: absolute;
  text-decoration: none;
}

.Button:hover {
  width: 120px;
  border-color: #99abc3;
}

/*Rooster CSS*/

.roosterWrapper{
  background-color: #8D9DB2;
  width: 48%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  padding-top: 2%;
  padding-bottom: 2%;
  height: 100%;
}

.uurWrapper p{
  text-align: left;
}

.uurGetal{
  position: relative;
  float: left;
  margin-left: 3%;
  margin-top: 2,5%;
}

.uurDataWrapper{
  position: relative;
  background-color: #BBCDE5;
  width: 85%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  left: 8%;

}

.uurDataWrapper p{
  text-align: left;
  height: 10%;
}

.uurDataR{
  margin-left: 50%;
  position: absolute;
  margin-top: 0;
  top: 0;
}